{% extends "base.html" %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <section>
        <div class="container">
            <h1>{{ object.name }}</h1>
            <p>
                {{ object.description }}
            </p>
            <h4>Likes {{likes_count|default:'No likes at all'}}</h4>
            {% if can_like %}
                <form class="" method="post">;
                    {% csrf_token %}
                    {{form_like}}
                    <input type="submit" name="form_like"/>
                </form>
            {% endif %}
            <div class="comments">
                {% for comment in comments %}
                    <h5>{{comment.created_at}}</h5>
                    <p>
                        {{comment.message}}
                    </p>
                {% endfor %}
            </div>
            <h4>CommentForm</h4>
            <form class="" method="post">
                {% csrf_token %}
                {{form_comment}}
                <input type="submit" name="form_comment"/>
            </form>
        </div>
    </section>
{% endblock %}
