{% extends "base.html" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'product:index' %}">Products</a></li>
        <li class="active">{{object.name}}</li>
    </ol>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="jumbotron">
                <h1>{{ object.name }}</h1>
                <p class="text-justify">{{ object.description }}</p>
                <form class="" method="post">
                    {% csrf_token %}
                    {{form_like}}
                    <button
                        class="pull-right btn {% if can_like %}btn-primary{% else %}btn-success{% endif %}"
                        type="submit"
                        name="form_like"
                        {% if not can_like %}disabled{% endif %}
                    >
                        Likes <span class="badge">{{likes_count}}</span>
                    </button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="container" id="form_comment">
            <div class="panel panel-default">
                <div class="panel-heading">Comment product</div>
                <div class="panel-body">
                    {{form_comment.errors}}
                    <form class="" action="#form_comment" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% include "messages.html" with messages=form_comment.message.errors status="danger"%}
                            {{form_comment.product}}
                            {{form_comment.message}}
                        </div>
                        <input  class="btn btn-default push-right" type="submit" name="form_comment"/>
                    </form>
                </div>
            </div>
            <div class="comments">
                {% for comment in comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{comment.created_at}}</div>
                    <div class="panel-body">{{comment.message}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
