{% extends "base.html" %}

{% block content %}
    <section>
        <div class="container">
            <h1>Products</h1>
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>
                        <a href="?{% if request.GET.likes == 'desc' %}likes=asc{% else %}likes=desc{% endif %}{% if request.GET.page %}&page={{request.GET.page}}{% endif %}">Likes</a>
                    </th>
                </thead>
                <tbody>
                    {% for product in object_list %}
                    <tr>
                        <td><a href="{% url 'product:product_item' slug=product.slug %}">{{product.name}}</a></td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.likes}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <div class="container">
            <ul class="pager">
                {% if page_obj.has_previous %}
                <li><a href="?page={{page_obj.previous_page_number}}{% if request.GET.likes %}&likes={{request.GET.likes }}{% endif %}">Previous</a></li>
                {% else %}
                <li class="disabled"><a>Previous</a></li>
                {% endif %}
                <li>{{page_obj.number}} of {{page_obj.end_index}}</li>
                {% if page_obj.has_next %}
                <li><a href="?page={{page_obj.next_page_number}}{% if request.GET.likes %}&likes={{request.GET.likes }}{% endif %}">Next</a></li>
                {% else %}
                <li class="disabled"><a href="#">Previous</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}
